body{
    background:white;
}

.encabezado{
    border: none !important;
}

/* Estilos generales del encabezado */
header {
    display: flex;
    align-items: center;
    background-color: white;
    color: #777777;
    text-decoration: none;
    border: none; /* Elimina el borde del div */
    height: 75px;
}

/* Estilos del logotipo */
.logo {
    width: 132.1px;
    height: 40px;
}

/* Estilos del menú */
.menu {
    margin-left: auto;
    text-decoration: none;
}

.menu a {
    display: inline-block;
    margin-left: 20px;
    text-decoration: none;
}

.menu li:first-child {
    margin-left: 0;
}

/* Estilos del enlace de contacto */
.contact-link {
    color: #fff;
    text-decoration: none;
}
