body{
    background:white;
    font-family: "Open Sans", Helvetica, Arial, sans-serif;
    font-size: 14px;
    font-size: 0.875rem;
    line-height: 1.7;
    color: #292b2c;
}

/* ENCABEZADO: inicio */

/* Estilos generales del encabezado */
header {
    display: flex;
    align-items: center;
    text-decoration: none;
    border: none; /* Elimina el borde del div */
    height: 68px;
    margin-left: 196.5px;
    margin-right: 212px;
}

/* Estilos del logotipo */
.logo {
    width: 132.1px;
    height: 40px;
}

/* Estilos del menú */
.menu {
    margin-left: auto;
}

.menu a {
    display: inline-block;
    text-decoration: none;
    color: #777777;
    /* estilo de letra de la pagina principal */
    font-family: "Raleway", Helvetica, Arial, sans-serif;
    font-size: 13px;
    font-weight: 600;
    text-transform: uppercase;
    text-decoration: none;
    zoom: 1;
    letter-spacing: 1px;
    margin-bottom: 12px;
}

.menu a:hover {
    color: #3cb4e0;
  }

.menu li:first-child {
    margin-left: 100px;
}



/* ENCABEZADO: termino */


/* SUBENCABEZADO:inicio */

.subencabezado {
    padding: 30px 0px;
    border-top: 1px solid #e9e9e9;
    background: #f8f9f9;
    border-bottom: 1px solid #e9e9e9;
    position: relative;
}

.subencabezado div{
    font-size: larger;
}

    /* BOTONES: inicio */

.boton {
    margin-left: 196.5px;
  }

  .btn-container {
    margin-bottom: 10px;
  }

  .lbl-switch {
    display: inline-block;
    width: 55px;
    height: 30px;
    background: #aaa;
    border-radius: 100px;
    position: relative;
    cursor: pointer;
    transition: 0.2s;
  }

  #btn-switch-malla:checked ~ .lbl-switch {
    background: #61a0ff;
  }

  #btn-switch-electivo:checked ~ .lbl-switch {
    background: #61a0ff;
  }

  #btn-switch-malla:checked ~ .lbl-switch::after {
    left: 28px; /* Mueve el botón v5 hacia la derecha */
  }

  #btn-switch-electivo:checked ~ .lbl-switch::after {
    left: 28px; /* Mueve el botón Electivo hacia la derecha */
  }

  .lbl-switch::after {
    position: absolute;
    content: '';
    width: 22px;
    height: 22px;
    background: #fff;
    border-radius: 100px;
    top: 4px;
    left: 5px; /* Inicialmente ambos botones están a la izquierda */
    transition: 0.2s;
  }

  #btn-switch-malla:checked ~ .lbl-switch::after,
  #btn-switch-electivo:checked ~ .lbl-switch::after {
    left: 28px; /* Mueve el botón hacia la derecha cuando está seleccionado */
  }

  #btn-switch-malla,
  #btn-switch-electivo {
    display: none;
  }
  
  
     /* BOTONES:termino */
  
 /* SUBENCABEZADO:inicio */