body {
  background: white;
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
  font-size: 14px;
  font-size: 0.875rem;
  line-height: 1.7;
  color: #292b2c;
  margin: 0;
}

/* ENCABEZADO: inicio */

/* Estilos generales del encabezado */

header {
  display: flex;
  /* Cada elemento uno al lado del otro */
  padding: 1px 13%;
  /* {0;margenes arriba abajo, 1;margenes derecha izquierda} */
  position: relative;
  z-index: 1000;
  align-items: center;
  text-decoration: none;
  border: none;
  /* Elimina el borde del div */
  height: 68px;
  justify-content: space-between;
}

@media (max-width:150px) {
  header {
    flex-direction: column;
    display: inline-block;

  }
}

/* Estilos del logotipo */
.logo {
  width: 190px;
  height: 170px;
}

.contacto {
  display: inline-block;
  text-decoration: none;
  color: #777777;
  /* estilo de letra de la pagina principal */
  font-family: "Raleway", Helvetica, Arial, sans-serif;
  font-size: 13px;
  font-weight: 600;
  text-transform: uppercase;
  text-decoration: none;
  zoom: 1;
  letter-spacing: 1px;
}

.contacto:hover {
  color: #3cb4e0;
}

.menu ul{
  margin-top: 10px !important;
}

/* ENCABEZADO: termino */


/* SUBENCABEZADO:inicio */

@media (max-width:1000px) {
  .subencabezado {
    flex-direction: column;
    display: inline-block;
  }
}

@media (max-width:1000px) {
  .subencabezado_dark {
    flex-direction: column;
    display: inline-block;
  }
}

.subencabezado {
  position: relative;
  align-items: center;
  /* elementos centrados en el bloque */
  display: flex;
  /* Cada elemento uno al lado del otro */
  padding: 19px 9.5%;
  /* {0:margenes arriba abajo, 1:margenes derecha izquierda} */
  border-top: 1px solid #e9e9e9;
  background: #f8f9f9;
  border-bottom: 1px solid #e9e9e9;
}

.subencabezado_dark {
  position: relative;
  align-items: center;
  /* elementos centrados en el bloque */
  display: flex;
  /* Cada elemento uno al lado del otro */
  padding: 19px 9.5%;
  /* {0:margenes arriba abajo, 1:margenes derecha izquierda} */
  border-top: 1px solid #1b2026;
  background: #1b2026;
  border-bottom: 1px solid #1b2026;
}

.subencabezado h1 {
  /* border: 1px solid blue; */
  padding: 0 5%;
  text-align: center;
}

.subencabezado_dark h1 {
  /* border: 1px solid blue; */
  padding: 0 5%;
  text-align: center;
}

.subencabezado article {
  font-size: medium;
}

.subencabezado_dark article {
  font-size: medium;
}

/* botón cambio de tema */

/* #logo-tema{
  font-size: 10px !important;
} */

/* BOTONES: inicio */

.boton {
  display: flex;
}

.btn-contenedor {
  margin-bottom: 10px;
  padding: 0% 15px;
}

.lbl-cambio {
  display: inline-block;
  width: 55px;
  height: 30px;
  background: #aaa;
  border-radius: 100px;
  position: relative;
  cursor: pointer;
  transition: 0.2s;
}

#btn-switch-malla:checked~.lbl-cambio {
  background: #61a0ff;
}

#btn-switch-electivo:checked~.lbl-cambio {
  background: #61a0ff;
}

#btn-switch-espec:checked~.lbl-cambio {
  background: #61a0ff;
}

#btn-switch-malla:checked~.lbl-cambio::after {
  left: 28px;
  /* Mueve el botón v5 hacia la derecha */
}

#btn-switch-electivo:checked~.lbl-cambio::after {
  left: 28px;
  /* Mueve el botón Electivo hacia la derecha */
}

#btn-switch-espec:checked~.lbl-cambio::after {
  left: 28px;
  /* Mueve el botón v5 hacia la derecha */
}

.lbl-cambio::after {
  position: absolute;
  content: '';
  width: 22px;
  height: 22px;
  background: #fff;
  border-radius: 100px;
  top: 4px;
  left: 5px;
  /* Inicialmente ambos botones están a la izquierda */
  transition: 0.2s;
}

#btn-switch-malla:checked~.lbl-cambio::after,
#btn-switch-electivo:checked~.lbl-cambio::after,
#btn-switch-espec:checked~.lbl-cambio::after
{
  left: 28px;
  /* Mueve el botón hacia la derecha cuando está seleccionado */
}

#btn-switch-malla,
#btn-switch-electivo,
#btn-switch-espec{
  display: none;
}


/* BOTONES:termino */

  /* LISTA DESPLEGABLE:inicio */

.menu_ramos {
  padding: 0% 15px;
}

.lista_ramos {
  width: 250px;
  border-radius: 7px;
  font-size: medium;
}

.lista_ramos::part(listbox) {
  padding: 2px;
  border-radius: 7px;
}

.lista_ramos option {
  text-align: left;
}



  /* LISTA DESPLEGABLE:termino */


/* SUBENCABEZADO:termino */


/* CUERPO: inicio */

.cuerpo{
  display: flex;
  margin-top: 20px;
  /* Ajuste: Footer siempre abajo */
  min-height: calc(100vh - 277px); 
}

#fila-dyt{
  justify-content: center; 
  text-align: center; 
  padding: 10px 0; 
}

#tiempo p{
  text-align: center
}

#fila-profe{
  justify-content: center; 
  text-align: center;
  padding: 10px 0; 
}