{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Ramos Industrias</title>
  <link rel="stylesheet" href="{% static '/styles/main.css' %}">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
  <script src="{% static 'js/main.js' %}"></script>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">

</head>

<body data-bs-theme="light">

  <div class="encabezado">
    <header role="banner">
      <a>
        <img class="logo" src="static/styles/logo-ramos-dii.png"
          alt="Centro de Estudiantes de Ingeniería Industrial">
      </a>
      <nav class="menu">
        <ul>
           <!--Aquí contacto-->
          <button class="btn btn-outline" onclick="changetheme()" id="logo-tema">
            <svg xmlns="http://www.w3.org/2000/svg" width="16"
              height="16" fill="currentColor" viewBox="0 0 16 16">
              <path id="icono"
                d="M6 .278a.768.768 0 0 1 .08.858 7.208 7.208 0 0 0-.878 3.46c0 4.021 3.278 7.277 7.318 7.277.527 0 1.04-.055 1.533-.16a.787.787 0 0 1 .81.316.733.733 0 0 1-.031.893A8.349 8.349 0 0 1 8.344 16C3.734 16 0 12.286 0 7.71 0 4.266 2.114 1.312 5.124.06A.752.752 0 0 1 6 .278z" />
            </svg></button>

        </ul>
      </nav>
    </header>
  </div>

  <div class="subencabezado">
    <h1>Ingeniería Civil Industrial</h1>
    <form class="boton">
      <article class="btn-contenedor">
        <p style="font-weight: bold;">Malla[v5]</p>
        <input id="btn-switch-malla" type="radio" name="unosolo" value="0" onclick="list_function(this.value)">
        <label for="btn-switch-malla" class="lbl-cambio"></label>
      </article>

      <article class="btn-contenedor">
        <p style="font-weight: bold;">Electivos</p>
        <input id="btn-switch-electivo" type="radio" name="unosolo" value="1" onclick="list_function(this.value)">
        <label for="btn-switch-electivo" class="lbl-cambio"></label>
      </article>
      <article class="btn-contenedor">
        <p style="font-weight: bold;">Especializacion</p>
        <input id="btn-switch-espec" type="radio" name="unosolo" value="2" onclick="list_function(this.value)">
        <label for="btn-switch-espec" class="lbl-cambio"></label>
      </article>
    </form>

    <article class="menu_ramos">
      <select class='lista_ramos' id="ramo_select" onchange="content_function(this.options[this.selectedIndex].value)">
        <option value="" disabled selected hidden>Seleccione su opción</option>
      </select>
    </article>
  </div>

  <section class="cuerpo">
    <div class="container" id="content_ramos">
      <div class="row">

        <div class="col-md-3">
          <div class="container">
            <div class="row" id='fila-dyt'>
              <div class="col border rounded border-4">
                <b>Dificultad</b>
                <section id="dificultad">
                </section>
              </div>

              <div class="row" id='fila-dyt'>
                <div class="col border rounded border-4">
                  <b>Tiempo</b>
                  <section id="tiempo">
                  </section>
                </div>
              </div>
            </div>

            <div class="row" id="fila-profe">
              <div class="col border rounded border-4">
                <b>Profesores</b>
                <div id="profesores"></div>
              </div>
            </div>
          </div>
        </div>

        <!-- <div class="col-sm-1"></div> -->

        <div class="col-sm-9 border rounded border-4" style="padding: 10px;">

          <div class="container">
            <div class="row">
              <div class="col" id="titulo-ramo">
                <h2>¡Bienvenidos a Ramos DII!</h2>
              </div>
            </div>

            <div class="row">
              <div class="col">
                <h5>Comentarios de Estudiantes DII</h5>
                <section id="comentarios">
                  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorum eveniet sequi, iure minus quos
                    quam corrupti
                    quam corrupti molestiae adipisci dicta optio tempore. Consectetur corrupti unde commodi repudiandae
                    dolorum, eveniet sunt ipsum! Lorem, ipsum dolor sit amet consectetur adipisicing elit. Velit tempora
                    modi temporibus vitae autem non eaque est harum ipsa accusantium odio facilis ipsum sapiente
                    cupiditate voluptatem voluptas totam, hic distinctio!
                    quam corrupti molestiae adipisci dicta optio tempore. Consectetur corrupti unde commodi repudiandae
                    dolorum, eveniet sunt ipsum! Lorem, ipsum dolor sit amet consectetur adipisicing elit. Velit tempora
                    modi temporibus vitae autem non eaque est harum ipsa accusantium odio facilis ipsum sapiente
                    cupiditate vo luptatem voluptas totam, hic distinctio!
                    quam corrupti molestiae adipisci dicta optio tempore. Consectetur corrupti unde commodi repudiandae
                    dolorum, eveniet sunt ipsum! Lorem, ipsum dolor sit amet consectetur adipisicing elit. Velit tempora
                    modi temporibus vitae autem non eaque est harum ipsa accusantium odio facilis ipsum sapiente
                    cupiditate voluptatem voluptas totam, hic distinctio!
                    quam corrupti molestiotam, hic distinctio!</p>
                </section>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <div class="container">
    <footer class="py-3 my-2 border-top">
      <div>
        <p class="text-center text-muted">
          © 2023 Ramos DII 
        </p>
      </div>
    </footer>
  </div>

</body>

</html>